body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f0f4f8;
    color: #333;
}

h1 {
    color: #00796b;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

form {
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type='submit'] {
    background-color: #00796b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #004d40;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(45% - 40px); /* Adjusting for margins */
    box-sizing: border-box;
    position: relative;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.centered {
    text-align: center;
    margin-top: 20px;
}

p {
    max-width: 600px;
    margin: 10px auto;
    color: #555;
}

.custom-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: #0056b3;
}

#task-list a {
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#task-list a.edit {
    background: #1e88e5;
}

#task-list a.delete {
    background: #ff1744;
}

#task-list a.edit:hover {
    background: #1565c0;
}

#task-list a.delete:hover {
    background: #b00020;
}

li .link-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
